# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/

# Distribution / build files
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Test and coverage
.coverage
.tox/
htmlcov/
.pytest_cache/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

.ipynb_checkpoints/